
/* html{ */
    /* box-sizing: border-box; */
/* } */
/* *, */
/* *::before, */
/* *::after { */
    /* box-sizing: inherit; */
/* } */
:root{
    /* =============clor============ */
    --accent-color:#2196F3;
    --main-text-color:#757575;
    --hover-btn-color:#188CE8;
    --main-text-color-w:#FFFFFF;
    --main-text-color-b:#212121;
    --backgraund-color-grey:#2F303A;
    --backgraund-color-body:#FFFFFF;
    --section-bg:#F5F4FA;


    /* ================fonts=========== */
    --main-font:'Roboto';
    --sekondary-font:'Raleway';
    /* ==========cards --================= */
    
        --page-bg-color: #f9f9fd;
        --primary-text-color: #212121;
        --card-set-gap: 20px;
        --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
}
/* ----------селектор * для встановлення на всі єлеемнти */

.hero{
    text-align: center;
}

/* Решта коду */
/* * ----------селектор * для встановлення на всі єлеемнти */ 
body {
    font-family: var(--main-font), sans-serif;
   
    background-color: var(--backgraund-color-body);
}
    /* для центрування і обмеження контенту по ширині. */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul{
margin: 0%

    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .container {

    }

    /* для центрування і обмеження контенту по ширині. */
  
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.bg-color{
 /* color: #188CE8; */
    background-color: var(--section-bg);
}
.list{
list-style: none;
}
.link{
    text-decoration: none;
}
.main-header{}


 .button{
    margin: 0;
    padding: 0%;
    background: transparent;
    border: none;
    line-height: 0;
 } 
/* ==========================header========================= */
.logo{
font-family: var(--sekondary-font), sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--primary-text-color);
 /* рамочка для обнар. маржина */
outline: 2px solid tomato;
/* рамочка для обнар. маржина */
letter-spacing: 0.03em;

color: var(--main-text-color-b);
}
.logo-color{
color: var(--accent-color);
}


.menu {}

.menu-item {}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color-b);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.mail-link-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}
.current{
    color: var(--hover-btn-color);
}
.mail-link-header:hover,
.mail-link-header:focus {
    color: var(--accent-color);
}

.contact-number-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}

.contact-number-header:hover,
.contact-number-header:focus {
    color: var(--accent-color);
}

/* =======================/header==================== */

/* ========================hero====================== */
.table-h1{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
color: var(--main-text-color-w);

}

.bgcolor-hero{
    background-color: var(--backgraund-color-grey);
}
.btn-primary:hover,
.btn-primary:focus{
background-color:var(--accent-color);
color: var(--main-text-color-w);
}
 .btn-primary{
    background: var(--section-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--main-font) sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    border: 0;
    
    /* color: var(--main-text-color-w); */
    /* ------- сделать кнопку прозрачной--------------- */
    /* background-color: transparent; */
    /* ------- сделать кнопку прозрачной--------------- */
    /* /---------- ще е властивість для прозорості OPACITY---------/ */

}




.modal-btn {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--main-font) sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    color: var(--main-text-color-w);
    border: 0;
    
/* ------- сделать кнопку прозрачной--------------- */
    /* background-color: transparent; */
 /* ------- сделать кнопку прозрачной--------------- */

 
}

.madal-btn:hover,
.modal-btn:focus {
background: var(--hover-btn-color);
}

/* ========================/hero============================ */

/* ===========================section2=================== */
.table-of-contents{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--main-text-color-b);
}
.paragraph-h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
}

/* ===========================/section2================ */

/* ===========================section3================ */
.table-of-contents-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color-b);
}

/* ===========================/section3================ */


/* =====================section4============ */


.paragraph-s4{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    

}
.paragraph-colors{
    color: var(--main-text-color);
}
.table-h3{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-text-color-b);
}
/* =====================/section4============ */
/* =======================footer==================== */
.adress-footer{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: var(--main-text-color-w);
}
.footer-bg{
    background-color: var(--backgraund-color-grey);
}

.logo-footer-color{
    color: var(--main-text-color-w);
}
.mail-link-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.6);
}

.mail-link-footer:hover,
.mail-link-footer:focus {
    color: var(--accent-color);
}

.contact-number-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.6);
}
.contact-number-footer:hover,
.contact-number-footer:focus {
    color: var(--accent-color);
}
/* =======================/footer==================== */

/* ===========inlyne обводка для читабельности margin============== */
.header-outline{ 
    outline: 2px solid tomato

}

/* ===========inlyne обводка для читабельности margin============== */
/* ================ или можно  background color  ================= */