body{
    font-family: var(--main-font),sans-serif;
    font-style: normal;
}
:root{
    /* =============clor============ */
    --accent-color:#2196F3;
    --main-text-color:#757575;
    --hover-btn-color:#188CE8;
    --main-text-color-w:#FFFFFF;
    --main-text-color-b:#212121;
    --backgraund-color-grey:#2F303A;
    /* ================fonts=========== */
    --main-font:'Roboto';
    --sekondary-font:'Raleway';
}

.list{
list-style: none;
}
.link{
    text-decoration: none;
}
.main-header{}

.main-nav{}
 .button{
    margin: 0;
    padding: 0%;
    background: transparent;
    border: none;
    line-height: 0;
 }
/* ==========================header========================= */
.logo{
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */

letter-spacing: 0.03em;

color: var(--main-text-color-b);
}
.logo-color{
color: var(--accent-color);
}


.menu {}

.menu-item {}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color-b);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.mail-link-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}

.mail-link-header:hover,
.mail-link-header:focus {
    color: var(--accent-color);
}

.contact-number-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
}

.contact-number-header:hover,
.contact-number-header:focus {
    color: var(--accent-color);
}

/* =======================/header==================== */

/* ========================hero====================== */
.table-h1{
font-weight: 900;
font-size: 44px;
line-height: 1.36;

color: var(--main-text-color-w);
}

.backgraund-color-hero{
    background-color: var(--backgraund-color-grey);
}

.madal-btn-text{
}

.modal-btn {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--main-font) sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--main-text-color-w);
    
    
}

.madal-btn:hover,
.modal-btn:focus {
background: var(--hover-btn-color);
}

/* ========================/hero============================ */

/* ===========================section2=================== */
.table-of-contents{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--main-text-color-b);
}
.paragraph-h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
}

/* ===========================/section2================ */

/* ===========================section3================ */
.table-of-contents-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color-b);
}

/* ===========================/section3================ */


/* =====================section4============ */
.paragraph-s4{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    

}
.paragraph-color-s4{
    color: var(--main-text-color);
}
.table-h3{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-text-color-b);
}
/* =====================/section4============ */
/* =======================footer==================== */
.adress-footer{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: var(--main-text-color-w);
}
.footer-backgraund-color{
    background-color: var(--backgraund-color-grey);
}
footer {
    background-color: var(--backgraund-color-grey);
}
.logo-footer-color{
    color: var(--main-text-color-w);
}
.mail-link-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.6);
}

.mail-link-footer:hover,
.mail-link-footer:focus {
    color: var(--accent-color);
}

.contact-number-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.6);
}
.contact-number-footer:hover,
.contact-number-footer:focus {
    color: var(--accent-color);
}
/* =======================/footer==================== */


